h2 {
  margin-top: 3rem;
}

input[id='input-password'] {
  width: 90%;
  font-size: 1.1rem;
  margin: 1rem 0;
}

.indicators {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.indicator {
  font-size: 1.2rem;
  padding-right: 0.5rem;
  color: rgb(60, 187, 145);
}

.warning {
  color: rgb(233, 86, 86);
  margin-bottom: 1rem;
}

@media (min-width: 1280px) {
  input[id='input-password'] {
    width: 70%;
    font-size: 1.3rem;
    margin: 2rem 0;
  }
}
