.container {
  margin: 1rem 0;
  height: 20;
  width: 15rem;
  background-color: rgb(25, 34, 54);
  border-radius: 5px;
}

.filler {
  height: 100%;
  background-color: rgba(129, 128, 128, 0.4);
  transition: 1s ease-in-out;
  border-radius: 5px;
  text-align: right;
}

.label {
  padding: 5px;
  font-size: 0.9rem;
  font-weight: 400;
}
